.header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:30px;

    background:white;

    padding:20px;

    border-radius:12px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.header-right{

    display:flex;

    align-items:center;

    gap:30px;

}