.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.card-content h3 {
    font-size: 16px;
    color: #64748b;
    margin-bottom: 12px;
}

.card-content h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1e293b;
}

.card-header{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
}

.card-header svg{
    font-size:28px;
    color:#475569;
}

.card-header h3{
    margin:0;
    font-size:20px;
    color:#475569;
}